
body {
    margin-top: 37px;
}

.titlebar {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0070d2;
    color: #fff;
    padding-left: 100px;
    height: 37px;
    line-height: 37px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.titlebar a, .titlebar a:hover, .titlebar a:active, .titlebar a:visited {
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
}